/* CSS para los estilos de la página */

/* Aplicar Papyrus a todo el documento */
* {
    font-family: 'Papyrus', fantasy;
    text-align: center;
    border-radius: 15px;
  }

  body {
    background-image: linear-gradient(to right, #141e30, #243b55);
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .canvas {
    border: 2px solid rgb(0, 0, 0);
    /* position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1; */
  }

  h1 {
    font-size: 48px;
    color: rgb(125,125,175);
  }

  h2 {
    font-size: 32px;
    color: rgb(90,60,90);
  }

  p {
    font-size: 18px;
    color: white;
  }
  

  /* Estilo para el título del sitio web */
h1 {
    font-family: Papyrus;
    font-size: 36px;
    color: white;
    text-align: center;
  }
  
  /* Estilo para la barra de navegación */
  .navbar {
    background-color: #333333;
  }
  
  /* Estilo para los enlaces de la barra de navegación */
  .nav-link {
    color: white;
    font-weight: bold;
  }
  
  /* Estilo para la sección principal */
  main {
    background-color: #cccccc;
    padding: 20px;
  }
  
  /* Estilo para el pie de página */
  footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  /* Estilo para el modal del juego */
  .modal-content {
    background-color: #000000;
    border: 5px solid white;
  }
  
  /* Estilo para el título del modal */
  .modal-title {
    color: white;
    font-family: Papyrus;
    font-size: 24px;
  }
  
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    justify-content: space-around;
    flex-basis: auto;
    }